
formation-iOS.xcodeproj/xcuserdata/svetlana.lesik.xcuserdatad/xcschemes/xcschememanagement.plist
.DS_Store
formation-iOS.xcodeproj/project.xcworkspace/contents.xcworkspacedata
formation-iOS.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
formation-iOS.xcodeproj/project.xcworkspace/xcuserdata/svetlana.lesik.xcuserdatad/UserInterfaceState.xcuserstate
